body{
    font-family: Bungee;
    margin:0px 50px;
}

header{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
}

nav{
    padding: 50px 0;
}

ul{
    display: flex;
    list-style-type:none;
    flex-direction: row;
}

li{
    padding: 0px 10px;
}
